<html>

<head>

    <title>Body Fat Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="app/firework.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <style>
        div.input-field {
            margin-top: .3rem !important;
            margin-bottom: .3rem !important;
        }

        div.row {
            margin-bottom: 0;
        }

        div.collapsible-body {
            padding-top: 0.3rem;
            padding-bottom: 0.6rem;
            border: none
        }

        div.collapsible-header {
            border: none;
            background-image: linear-gradient(-225deg, #a7ffeb   0%, #FFFEFF 100%);
            border-radius: 1.5rem;
        }

        div.col.s12.m6.l6 {
            padding: 0.5rem
        }

        h5{
            margin-top: .3rem;
            margin-bottom: .3rem;
        }
        /* div.collapsible-header {
            color: #00695c  ;
        } */

        div.collapsible-body{
            background-color: #fff;
            border-radius: 1.5rem;
        }

        div.card, div.card-image, img{
            border-radius: 1.5rem !important;
        }

        

        ul.collapsible.expandable{
            background-color: #fff;
            border-radius: 1.5rem;
        }

        
        
    </style>

</head>

<body style="background-image: linear-gradient(-225deg, #FFFEFF  0%, #a7ffeb 100%);">
    <nav style="background-image: linear-gradient(120deg, #a7ffeb 0%, #FFFEFF 100%);">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center black-text">Body Fat Calculator</a>
            <!-- <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">JavaScript</a></li>
            </ul> -->
        </div>
    </nav>
    <div class="container" id="calculator">
        <div class="row">

            <!-- left -->
            <div class="col s12 m6 l6">


                
                <!-- intro card  -->
                <div class="card" >
                    <div class="collapsible-header">
                        <h5>Introduction</h5>
                    </div>
                    <div class="card-content">
                        <p>
                            This body fat calculator can estimate your total body fat based on specific measurements.
                        </p>
                        <p>
                            You are free to choose a measure system you are familiar with.
                            Remeber to fill in all previous blanks before hitting the "Calculate" button.
                        </p>
                        <p>
                            The estimation gets more precise when more information is provided.
                        </p>
                    </div>

                </div>

                <!-- expandable  -->
                <ul class="collapsible expandable">
                    <li class="active">
                        <div class="collapsible-header" >
                            <h5>Basic Information <i class="material-icons">arrow_drop_down_circle</i></h5>
                        </div>
                        <div class="collapsible-body">
                            <div class="row">

                                <h6>Gender</h6>
                                <div class="input-field col s6 m6">

                                    <p>
                                        <label>
                                            <input class="with-gap" name="Gender" type="radio" checked v-model="gender"
                                                value="m" />
                                            <span>Male</span>
                                        </label>
                                    </p>

                                </div>

                                <div class="input-field col s6 m6">

                                    <p>
                                        <label>
                                            <input class="with-gap" name="Gender" type="radio" v-model="gender"
                                                value="f" />
                                            <span>Female</span>
                                        </label>
                                    </p>
                                </div>

                                <h6>Measure</h6>
                                <div class="input-field col s6 m6" >

                                    <p>
                                        <label >
                                            <input class="with-gap" name="Measure" type="radio" checked v-model="measure" value="m" @change="changeMeasure"/>
                                            <span>Metric (kg, cm)</span>
                                        </label>
                                    </p>

                                </div>

                                <div class="input-field col s6 m6">

                                    <p>
                                        <label >
                                            <input class="with-gap" name="Measure" type="radio" v-model="measure" value="i" @change="changeMeasure"/>
                                            <span>Imperial (lb, in)</span>
                                        </label>
                                    </p>
                                </div>


                            </div>
                        </div>
                    </li>

                    <li class="active">
                        <div class="collapsible-header">
                            <h5>Essential Information <i class="material-icons">arrow_drop_down_circle</i></h5>
                        </div>
                        <div class="collapsible-body">
                            <div class="row">
                                <p>Essential to calculate your body fat percentage.</p>
                                <div class="input-field col s12 m6">
                                    <textarea id="Age" class="materialize-textarea" v-model="age"></textarea>
                                    <label for="Age">Age</label>
                                </div>

                                <div class="input-field col s12 m6">
                                    <textarea id="Weight" class="materialize-textarea" v-model="weight"></textarea>
                                    <label for="Weight">Weight ({{weightMeasure}})</label>
                                </div>

                                <div class="input-field col s12 m6">
                                    <textarea id="Height" class="materialize-textarea" v-model="height"></textarea>
                                    <label for="Height">Height ({{lengthMeasure}})</label>
                                </div>

                                <div class="col s12 m6">
                                    <button class="btn waves-effect waves-light" type="submit" name="action"
                                        v-on:click="calculate(1)">Calculate
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="active">
                        <div class="collapsible-header">
                            <h5>More Information <i class="material-icons">arrow_drop_down_circle</i></h5>
                        </div>
                        <div class="collapsible-body">
                            <div class="row">


                                <p>More information, more precision!</p>
                                <div class="input-field col s12 m6">
                                    <textarea id="Chest" class="materialize-textarea" v-model="chest"></textarea>
                                    <label for="Chest">Chest Circumference ({{lengthMeasure}})</label>
                                </div>

                                <div class="input-field col s12 m6">
                                    <textarea id="Wrist" class="materialize-textarea" v-model="wrist"></textarea>
                                    <label for="Wrist">Wrist Circumference ({{lengthMeasure}})</label>
                                </div>

                                <div class="input-field col s12 m6">
                                    <textarea id="Hip" class="materialize-textarea" v-model="hip"></textarea>
                                    <label for="Hip">Hip Circumference ({{lengthMeasure}})</label>
                                </div>

                                <div class="col s12 m6">
                                    <button class="btn waves-effect waves-light" type="submit" name="action"
                                        v-on:click="calculate(2)">Calculate
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header">
                            <h5>Advanced <i class="material-icons">arrow_drop_down_circle</i></h5>
                        </div>
                        <div class="collapsible-body">
                            <div class="row">


                                <p>You can provide more information to get a even more precise calculation.</p>


                                <div class="input-field col s12 m6">
                                    <textarea id="Adiposity" class="materialize-textarea"
                                        v-model="adiposity"></textarea>
                                    <label for="Adiposity">Adiposity (bmi)</label>
                                </div>

                                <div class="input-field col s12 m6">
                                    <textarea id="Neck" class="materialize-textarea" v-model="neck"></textarea>
                                    <label for="Neck">Neck Circumference ({{lengthMeasure}})</label>
                                </div>

                                <div class="input-field col s12 m6">
                                    <textarea id="Abdomen" class="materialize-textarea" v-model="abdomen"></textarea>
                                    <label for="Abdomen">Abdomen Circumference ({{lengthMeasure}})</label>
                                </div>

                                <div class="input-field col s12 m6">
                                    <textarea id="Thigh" class="materialize-textarea" v-model="thigh"></textarea>
                                    <label for="Thigh">Thigh Circumference ({{lengthMeasure}})</label>
                                </div>

                                <div class="input-field col s12 m6">
                                    <textarea id="Knee" class="materialize-textarea" v-model="knee"></textarea>
                                    <label for="Knee">Knee Circumference ({{lengthMeasure}})</label>
                                </div>

                                <div class="input-field col s12 m6">
                                    <textarea id="Ankle" class="materialize-textarea" v-model="ankle"></textarea>
                                    <label for="Ankle">Ankle Circumference ({{lengthMeasure}})</label>
                                </div>

                                <div class="input-field col s12 m6">
                                    <textarea id="Biceps" class="materialize-textarea" v-model="biceps"></textarea>
                                    <label for="Biceps">Biceps Circumference ({{lengthMeasure}})</label>
                                </div>

                                <div class="input-field col s12 m6">
                                    <textarea id="Forearm" class="materialize-textarea" v-model="forearm"></textarea>
                                    <label for="Forearm">Forearm Circumference ({{lengthMeasure}})</label>
                                </div>

                                <div class="col s12 m6">
                                    <button class="btn waves-effect waves-light" type="submit" name="action"
                                        v-on:click="calculate(3)">Calculate
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>

                <!-- advanced  -->

            </div>

            <!-- right -->
            <div class="col s12 m6 l6">
                <div class="row">
                    <div class="col s12 m12">
                        <div class="card">
                            <div class="card-image" id="firework">
                                <img v-bind:src="picPath">
                                <div class="before"></div>
                                <div class="after"></div>
                                <!-- <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a> -->
                            </div>
                            <div class="card-content" style="text-align: center;">
                                <span class="card-title" style="font-size: 2.5rem;">{{ picText }}</span>
                                <p>
                                    Your body fat percentage is estimated to be 
                                </p>
                                <p style="font-size: 4rem">
                                    {{ bodyfatString }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="app/calculator.js"></script>
    <script>


        var elem = document.querySelector('.collapsible.expandable');
        var instance = M.Collapsible.init(elem, {
            accordion: false
        }); 
    </script>
</body>

</html>